.breaker {
    padding: 60px 0;
    box-sizing: border-box;
    
    // .breaker__body

    &__body {  
        display: flex;
        align-items: center;
    }

    // .breaker__img

    &__img {
        width: calc(50% - 40px);
        margin-right: 40px;
        img{
            display: block;
            width: 100%;
            border-radius: 20px;
            overflow: hidden;
            box-sizing: border-box;
        }
    }

    // .breaker__text

    &__text {
        width: 50%;
        h2 {
            font-size: 36px;
            margin: 0;
            display: block;
            margin-bottom: 20px;
            line-height: 1.1;
        }
        p {
            margin: 0;
            font-size: 24px;
            font-weight: 400;
        }
    }
}

@media(max-width:920px) {
    .breaker {
        padding: 40px 0;
        box-sizing: border-box;
        background-color: #120526;
        color: #fff;
        &__text {
            margin: 0;
            max-width: none;
            margin-bottom: 30px;
            width: 100%;
            text-align: center;
            h2 {
                font-size: 24px;
            }
            p {
                font-size: 16px;
            }
        }
        &__img {
            max-width: 420px;
            width: 100%;
            margin: 0 auto;
        }
        &__body {
            flex-direction: column-reverse;
            
        }
    }
}