.footer {
    padding: 20px 0;
    box-sizing: border-box;
    background-color: #1a1a1af3;
    // .footer__body

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .footer__title

    &__title {
        a {
            display: block;
            text-decoration: none;
            color: #7e38ff;
            font-size: 24px;
            font-weight: 700;
            position: relative;
            &::after {
                content: '&';
                position: absolute;
                width: 20px;
                height: 20px;
                font-size: 14px;
                top: calc(50% - 5px);
                color: #fff;
                left: calc(50% - 5px);
                z-index: 1;
                opacity: .7;
            }
            span {
                &:first-child {
                    display: block;
                }
                &:last-child {
                    display: block;
                    margin-top: -10px;
                }
            }
        }
    }

    // .footer__nav

    &__nav {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            li {
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }
                 a {
                    color: #fff;
                    text-decoration: none;
                 }
            }
        }
    }

    // .footer__info

    &__info {
        a {
            display: block;
            font-size: 18px;
            color: #fff;
            text-decoration: none;
            transition: .35s ease;
            &:hover {
                color: $color1;
                
            }
        }
    }
}


@media(max-width:560px) {
    .footer {
        &__body {
            flex-direction: column;
            align-items: center;
        }
        &__title {
            margin-bottom: 20px;
        }
        &__nav {
            margin: 0 0 20px;
            ul {
                flex-direction: column;
                li {
                    margin: 0;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}