
.work {
    padding: 60px 0;
    box-sizing: border-box;
		// .work__items

		&__items {
            display: flex;
            align-items: stretch;
            margin: 0 -20px;
		}

		// .work__item

		&__item {
            margin: 0 20px;
            box-sizing: border-box;
            width: calc(25% - 40px);
            .num {
                display: flex;
                justify-content: center;
                margin-bottom: 10px;
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100px;
                    height: 100px;
                    border: 2px solid $color1;
                    border-radius: 50%;
                    box-sizing: border-box;
                    font-size: 36px;
                    font-weight: 700;
                    font-family: $font2;
                }
            }
            .text {
                text-align: center;
                h3 {
                    margin: 0;
                    font-size: 36px;
                    line-height: 1;
                    margin-bottom: 20px;
                }
                p {
                    font-size: 18px;
                    box-sizing: border-box;
                    margin: 0;
                    b {
                        display: inline-block;
                        padding-top: 10px;
                        font-size: 16px;
                        font-weight: 700;
                    }
                }
            }
		}
}


@media(max-width:920px) {
    .work {
        padding: 40px 0;
        &__items {
            flex-wrap: wrap;
        }
        &__item {
            width: calc(50% - 40px);
            margin:  0 20px 40px;
            .num {
                span {
                    width: 80px;
                    height: 80px;
                    font-size: 32px;
                }
            }
            .text {
                h3 {
                    font-size: 28px;
                }
                p {
                    font-size: 16px;
                    b {
                        font-size: inherit;
                    }
                }
            }
        }
    }
}


@media(max-width:560px) {
    .work {
        background: #120526;
        color: #fff;
        &__items {
            margin: 0;
        }
        &__item {
            width: 100%;
            box-sizing: border-box;
            margin: 0 0 30px;
            .num {
                margin-bottom: 20px;
            }
        }
    }
}